button.prevOption {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 35px 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: normal;
    text-shadow: none !important;

    position: relative;
    text-indent: -450px;
}

button.prevOption::after {
    content: "Atrás";
    position: absolute;
    left: 260px;
    top: 12px;
}

#imagesContainer>h1 {
    display: none !important;
}

.options>li>i:nth-of-type(1), .options>li>br:nth-of-type(1) {
    display: none !important;
}

.results>li>i:nth-of-type(1), .results>li>br {
    display: none !important;
}

.results b {
    font-weight: normal;
}

.results li {
    background-color: #2F69FF !important;
    color: white !important;
}

#imagesContainer ul.options, #imagesContainer ul.results {
    display: flex;
    flex-wrap: wrap;
}

#imagesContainer ul.options li, #imagesContainer ul.results li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    min-height: 140px !important;
    text-align: center;
    position: relative;
    margin-right: 10px;
    padding: 10px;
}

#imagesContainer ul.options li img, #imagesContainer ul.results li img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 14px;
}

#imagesContainer ul.options li span, #imagesContainer ul.results li b {
    display: block;
    max-height: 4.1em; /* Limita a 2-3 líneas de texto */
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.2em;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 0px;
    text-align: center;
}

#imagesContainer ul.options li:nth-child(2) span,
#imagesContainer ul.options li:nth-child(6) span {
    font-style: italic;
}
